<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>


    <style>
        .container-fluid {
            height: 50px;
            background-color: #f9f9f9;
        }

        body {

            color: black;
        }

        a {
            text-decoration: none;
            line-height: 50px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-2 col-md-offset-10">
        <a href="index.php"><span>Đăng nhập</span></a>
        <span>/</span>
        <a href="register.php"><span>Đăng ký</span></a>
    </div>
</div>
</body>
</html>